html body {
    margin: 0;
    padding: 0px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #303846;
}
h1 {
    font-size: 3rem;
}
h3 {
    font-size: 2rem;
}
h5 {
    font-size: 1rem;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.d-flex {
    display: flex;
}

.p-20 {
    padding: 20px;
}

.h-100 {
    height: 100%;
}

header {
    position: fixed;
    width: 100%;
    height: 150px;
    background: #fff;
    justify-content: space-between;
    align-items: center;
}

#logo {
    display: inline-flex;
    align-items: center;
    padding-left: 50px;
}

#logo img {
    width: 100px;
    padding: 0 20px 0 0;
}

.shadow {
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
}

.nav-wrap {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    padding: 0 20px;
    font-weight: 800;
}

.nav-item a {
    text-decoration: none;
    color: inherit;
}

a {
    cursor: pointer;
    line-height: 1;
    text-decoration: none;

}

a:after {
    display: flex;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #303846;
    content: "";
    transition: width 0.3s ease-out;
    -webkit-transition: width 0.3s ease-out;
    -moz-transition: width 0.3s ease-out;
    -ms-transition: width 0.3s ease-out;
    -o-transition: width 0.3s ease-out;
}

a:hover:after,
a:focus:after {
    width: 100%;
}

main {
    margin-top: 150px;
}

.section-one {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height:82vh;
    background: url(/images/banner.png) no-repeat;
    background-size: 100%;
}

.section-one h5 {
    padding: 0px;
    margin: 0;
    line-height: 0;
}

.text-white {
    color:#fff;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 1rem;
    margin: 3rem;
    cursor: pointer;
}
.btn:hover {
 background: rgb(72, 72, 250, 0.3);
 padding: 0.5rem;
 margin: 3.5rem;
 border-radius: 2px;
 transition: 1s;
 -webkit-transition: 1s;
 -moz-transition: 1s;
 -ms-transition: 1s;
 -o-transition: 1s;
 -webkit-border-radius: 2px;
 -moz-border-radius: 2px;
 -ms-border-radius: 2px;
 -o-border-radius: 2px;
}