html body {
    margin: 0;
    padding: 0px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #303846;
}

.fixed {
    position: fixed;
}

.w-full {
    width: 100%;
}

.w-300 {
    width: 300px;
}

.w-1000 {
    width: 1000px;
}

.p-20 {
    padding: 20px;
}

.p-40 {
    padding: 40px;
}

.m-20 {
    margin: 20px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pt-40 {
    padding-top: 40px;
}

.pb-40 {
    padding-bottom: 40px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-40 {
    margin-top: 40px;
}

.mb-40 {
    margin-bottom: 40px;
}

select {
    width: 150px;
}

input {
    width: 150px;
}

.content-center-center {
    justify-content: center;
    align-items: center;
}

.content-center-sbetween {
    align-items: center;
    justify-content: space-between;
}

.content-start-center {
    justify-content: center;
    align-items: flex-start;
}

.d-flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.company {
    justify-content: space-around;
}

.company-name {
    font-size: 30px;
    font-weight: 800;
    padding-left: 20px;
}

.company-name-footer {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding-left: 10px;
}

.copyright {
    font-size: 10px;
    color: gray;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.btn {
    border: 2px solid white;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    padding: 1rem;
    cursor: pointer;
    font-weight: bold;
    margin: 0;
}

.btn:hover {
    background: rgb(72, 72, 250, 0.3);
    border-radius: 10px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 0;
}

form .btn {
    width: 100px;
    margin-top: 10px;
    border: 2px solid #2DD8B7;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2)
}

form .btn:hover {
    background: #2DD8B7;
    box-shadow: none;
    margin-top: 10px;
}

.bg-white {
    background: #fff;
}

.bg-gray {
    background: #f7f7f7;
}

.bg-dark {
    background: #303846;
}

header {
    display: flex;
    padding: 20px;
    width: 100%;
    height: 150px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.nav-wrap {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-item {
    padding: 0 20px;
    font-weight: 600;
    cursor: pointer;
    color: #303846 !important;
}

.nav-item a {
    color: inherit;
    cursor: pointer;
    line-height: 1;
    text-decoration: none;
}

.nav-item a:after {
    display: flex;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #303846;
    content: "";
    transition: width 0.3s ease-out;
    -webkit-transition: width 0.3s ease-out;
    -moz-transition: width 0.3s ease-out;
    -ms-transition: width 0.3s ease-out;
    -o-transition: width 0.3s ease-out;
}

.nav-item a:hover:after,
.nav-item a:focus:after {
    width: 100%;
}

.slider {
    width: 100%;
    flex-direction: column;
    margin-top: 150px;
    background: url(/images/banner.png) bottom no-repeat;
    color: #fff;
}

.slider h1 {
    font-size: 3em;
    margin-bottom: 0;
}

.slider p {
    font-weight: 800;
}


.desc {
    max-width: 400px;
    height: 100%;
    padding: 0;
    margin: 20px;
}

.desc h2 {
    margin: 0;
    padding: 0;
}

.desc p {
    text-align: justify;
}

.form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    margin: 0;
}

.form h5 {
    padding: 0;
    margin: 0;
}

.form h2 {
    color: #2DD8B7;
}

fieldset {
    border: 3px solid #2DD8B7;
}

fieldset h3 {
    color: #2DD8B7;
}

footer h3 {
    color: #fff;
    margin: 0;
    padding: 0;
}

footer {
    color: #fff;
}

footer p {
    font-size: 12px;
}
